examples/simple-array-example.json
[{
    "id": "d6562f38c09bfba5",
    "type": "inject",
    "z": "a790480fed0e10dd",
    "name": "",
    "props": [{
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 300,
    "y": 140,
    "wires": [
      [
        "122509cc57501a0f"
      ]
    ]
  },
  {
    "id": "bd34406756bcaa01",
    "type": "debug",
    "z": "a790480fed0e10dd",
    "name": "debug 25",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 140,
    "wires": []
  },
  {
    "id": "122509cc57501a0f",
    "type": "simple-array-key-value",
    "z": "a790480fed0e10dd",
    "name": "",
    "items": [{
        "key": "asd",
        "value": "asd"
      },
      {
        "key": "asd",
        "value": "asd"
      },
      {
        "key": "asd",
        "value": "asd"
      },
      {
        "key": "asd",
        "value": "asd"
      },
      {
        "key": "asd",
        "value": "asd"
      },
      {
        "key": "asd",
        "value": "asd"
      }
    ],
    "x": 560,
    "y": 140,
    "wires": [
      [
        "bd34406756bcaa01"
      ]
    ]
  }
]